@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
  .container {
    background: url(/src/images/Layer16-min.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
  .image-1 {
    background: url(/src/images/Layer16@2X-min.png);
    background-size: cover;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
  .image-2 {
    background: url(/src/images//Layer19@2X-min.png);
    background-size: cover;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
  .image-3 {
    background: url(/src/images/Layer18@2X-min.png);
    background-size: cover;
  }
}
