@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v10-latin-regular.eot');
    src: local('Dancing Script Regular'), local('DancingScript-Regular'),
         url('../fonts/dancing-script-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dancing-script-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/dancing-script-v10-latin-regular.woff') format('woff'),
         url('../fonts/dancing-script-v10-latin-regular.ttf') format('truetype'),
         url('../fonts/dancing-script-v10-latin-regular.svg#DancingScript') format('svg');
  }

  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-slab-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-slab-v8-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  /* roboto-slab-700 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
         url('../fonts/roboto-slab-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-slab-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v8-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-slab-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-slab-v8-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

*{
    margin: 0;
    padding: 0;
}

body{

}

/* NAVIGATION+LOGO */

.navigations {
    display: flex;
    min-height: 100px;
    margin-bottom: 105px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
    color: #fed136;
    font-size: 46px;
}

.nav-list a{
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.nav-list a:hover{
    color: #fed136;
}

/* TITLE */

.title{
    display: flex;
flex-flow: column wrap;
align-items: center;
}

.title1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 52px;
}

.title2{
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: rgba(119, 119, 119, 255);
    margin-bottom: 90px;
}

/* MAIN WRAPPER */

.wrapper{
    display: flex;
    justify-content: space-around;
   text-align: center;
}

.wrap1, .wrap2, .wrap3{
    max-width: 300px;
}

.wrap-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.wrap-txt{
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(119, 119, 119, 255);
    margin-bottom: 120px;
}

.wrap1::before{
   content: url(../image/crop@1X.png)
}

.wrap2::before{
    content: url(../image/crop@1X\ \(1\).png)
}

.wrap3::before{
    content: url(../image/crop@1X\ \(2\).png)
}

/* TITLE TWO */

.titleTwo{
    display: flex;
flex-flow: column wrap;
align-items: center;
}

.title-1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 52px;
    color: #ffffff;
}

.title-2{
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: rgba(119, 119, 119, 255);
    margin-bottom: 90px;
}

/* WRAPPER TWO */

.main-bottom{
    background-color: #222222;
    position: relative;
}

.backimg{
    display: block;
margin-left: auto;
}

.container-form {
    width: 940px;
    margin: auto;
    position: absolute;
    transform: translateX(-50%);
    top: 255px;
    left: 50%;
}


form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-form {
    min-width: 455px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-info {
    height: 52px;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
}

.input-info::placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.name:valid {
    outline: 2px solid #04d338;
}

.name:invalid {
    outline: 1px solid #ef2121;
}

.email:valid {
    outline: 2px solid #04d338;
}

.email:invalid {
    outline: 1px solid #ef2121;
}

.textarea-form {
    display: block;
    width: 455px;
    height: 210px;
    margin-bottom: 30px;
}

.textarea-form > textarea {
    border: none;
    border-radius: 3px;
    width: 455px;
    height: 212px;
    box-sizing: border-box;
    padding: 20px;
}

.textarea-form > textarea::placeholder {
    color: #bbbbbb;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.submit {
    width: 240px;
    height: 65px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #fed136;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    display: block;
    margin: auto;
}