* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.navlist-style {
    list-style: none;
}

.main-text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
}

.text-footer {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    min-width: 1202px;
    height: auto;
    background: url(../img/imagecompressor/Layer\ 15-min.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 45px;
}


@media (-webkit-min-device-pixel-ratio: 2), 
(-o-min-device-pixel-ratio: 2/1), 
(min-resolution: 192dpi) {
    .container {
        background: url(../img/imagecompressor/Layer\ 15-min.png@2X.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.wrapper {
    width: 1202px;
    margin: auto;
}

.page-navigation {
    padding-top: 25px;
    margin-bottom: 130px;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigation__logo {
    font-size: 30px;
}

.navlist {
    width: 622px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.navlist__link {
    padding-bottom: 10px;
}

.navlist__item--hover:hover .navlist__link {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    -webkit-transition: 150ms all linear;
    -o-transition: 150ms all linear;
    transition: 150ms all linear;
}

.navlist__svg:hover {
    fill: #fce38a;
}

.navlist__svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
}

.general-headline {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.page-headline {
    width: 821px;
    margin: auto;
    margin-bottom: 110px;
}

.page-article {
    margin-bottom: 30px;
}

.headline-two {
    font-size: 150px;
    line-height: 1;
    text-align: center;
}

.page-button {
    padding-bottom: 230px;
}

.button {
    display: block;
    margin: auto;
    width: 154px;
    height: 32px;
    border: 3px solid #ffffff;
    background: transparent;
    font-size: 14px;
}

.box-headline {
    margin-bottom: 18px;
}

.heading {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
}

.box-caption {
    margin-bottom: 38px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.page-line {
    margin-bottom: 65px;
}

.line {
    display: block;
    margin: auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.block-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.page-services {
    margin-bottom: 95px;
}

.box-services {
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.article__headline {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.services-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
}

.article {
    width: 300px;
}

.services-icon__svg {
    width: 38px;
    height: 38px;
}

.meet-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.page-text {
    width: 980px;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
}

.page-image {
    margin-bottom: 28px;
}

.member-team {
    width: 380px;
    height: auto;
    text-align: center;
    margin-bottom: 82px;
}

.member-team:hover .image-1,
.member-team:hover .image-2,
.member-team:hover .image-3 {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 0 #95e1d3;
            box-shadow: 10px 10px 0 0 #95e1d3;
    -webkit-transition: 150ms all linear;
    -o-transition: 150ms all linear;
    transition: 150ms all linear;
} 

.image-1 {
    width: 380px;
    height: 470px;
    background: url(../img/imagecompressor/Layer\ 16@1X-min.png);
    -webkit-transition: 150ms all linear;
    -o-transition: 150ms all linear;
    transition: 150ms all linear;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(-o-min-device-pixel-ratio: 2/1), 
(min-resolution: 192dpi) {
    .image-1 {
        background: url(../img/imagecompressor/Layer\ 16@2X-min.png);
        background-size: cover;
    }
}

.image-2 {
    width: 380px;
    height: 470px;
    background: url(../img/imagecompressor/Layer\ 19@1X-min.png);
    -webkit-transition: 150ms all linear;
    -o-transition: 150ms all linear;
    transition: 150ms all linear;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(-o-min-device-pixel-ratio: 2/1), 
(min-resolution: 192dpi) {
    .image-2 {
        background: url(../img/imagecompressor/Layer\ 19@2X-min.png);
        background-size: cover;
    }
}

.image-3 {
    width: 380px;
    height: 470px;
    background: url(../img/imagecompressor/Layer\ 18@1X-min.png);
    -webkit-transition: 150ms all linear;
    -o-transition: 150ms all linear;
    transition: 150ms all linear;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(-o-min-device-pixel-ratio: 2/1), 
(min-resolution: 192dpi) {
    .image-3 {
        background: url(../img/imagecompressor/Layer\ 18@2X-min.png);
        background-size: cover;
    }
}

.box-gradient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 470px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 137, 138, 0.8)), to(rgba(240, 217, 137, 0.8)));
    background: -webkit-linear-gradient(top, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    background: -o-linear-gradient(top, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    background: linear-gradient(to bottom, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    opacity: 0;
}

.member-team:hover .box-gradient {
    opacity: 1;
}

.list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-team__item {
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fce38a;
}

.list-team__item:not(:last-child) {
    border-right: 1px solid #f9bd87; 
}

.list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-team__item {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce38a;
}

.list-team__item:not(:last-child) {
    border-right: 1px solid #f9bd87; 
}

.list-team__item--hover:hover {
    background-color: #f38181;
}

.list-team__item--hover:hover .list-team__svg {
    fill: #ffffff;
}

.list-team__svg {
    fill: #F38181;
    width: 30px;
    height: 32px;
}

.page-name {
    margin-bottom: 15px;
}

.member-team__name {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #333333;
}

.member-team__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    font-weight: 300;
    font-style: italic;
}


.page-footer {
    width: 1202px;
    margin: auto;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.page-footer__text {
    color: #333333;
}

span {
    color: #f38181;
}

.forma__inpt {
    width: 228px;
    height: 38px;
    border: 1px solid #e5e5e5;
    float: left;
    padding: 0 10px;
    color: #8f8e8e;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300i;
}

::-webkit-input-placeholder {
    color:#e7e7e7;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300i;
}


.btn {
    width: 150px;
    height: 38px;
    border: none;
    background-color: #95e1d3;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}