@media (min-width: 768px) {

.transparency{
width: 768px;
}

.wrapper{
    max-width: 768px;
    min-height: 540px;
    background: url(../img/Vector\ Smart\ Object@1X.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.nav-menu{
    width: 86.45%;
    max-height: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.logo{
    order: 1;
    margin-bottom: 0;
}

}
