html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1170px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Navigation */

.nav-block {
  float: right;
  width: 467px;
  margin-top: 25px;
  list-style: none;
}

.nav-block li {
  float: left;
}

.nav-item a {
color: #0f0101;
text-decoration: none;
font-weight: bold;
}

.nav-item a:hover{
  color: aqua;
}

.nav-block li:not(:last-child) {
  margin-right: 20px;
}

.site-logo {
    display: inline-block;
    position: relative;
    left: 40px;
    top: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #515151;  
}

.site-logo::first-letter{
color: aqua;
font-weight: bold;
}

/* SLIDER */

.slider{
  position: relative;
  width: 1600px;
  height: 600px;
  margin-top: 40px;
}

.slider-ctrl{
  position: absolute;
    background-color: rgb(26, 188, 156);
    border: none;
    width: 90px;
    height: 90px;
    opacity: 0.9;
    
  }

  .transparency{
    width: 1440px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 0;
  }

  .slider-img{
    position: relative;
    width: 1600px;
    height: 500px;
    object-fit: cover;
  }
  
  .title{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
      }

  .title-txt{
font-size: 36px;
  }

  .txt-small{
    font-size: 18px;
  }