html {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 1200px;
    height: 2079px;

}

.navigation-menu {
    display: inline-block;
    vertical-align: middle;
    width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 14pt;
    list-style: none;
    text-align: center;

}

.page-nav {
    padding-top: 77px;
    padding-bottom: 108px;
}

.navigation-menu li {
    display: inline-block;
    vertical-align: middle;
}

.navigation-menu li:not(:last-child) {
    margin-right: 60px;
}

.navigation-menu a {
    color: rgba(98, 98, 98, 255);
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-menu a:hover,
.navigation-menu a:focus {
    color: aquamarine;
}

.blocks-list {
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.blocks1,
.blocks2,
.blocks3,
.blocks4, .blocks5, .blocks6{
    display: inline-block;
    width: 420px;
}


.blocks1,
.blocks3, .blocks5 {
    margin-left: 115px;
    margin-right: 50px;
}

.blocks1, .blocks2, .blocks3, .blocks4{
    padding-bottom: 36px;
}

.blocks-list figcaption {
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    padding-top: 32px;
}

.blocks-list h2 {
    font-size: 30px;
    font-weight: 400;
    color: rgba(125, 125, 125, 255);
}

.blocks-list p {
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
}



.button{
    display: inline-block;
    width: 164px;
    height: 60px;
    vertical-align: middle;
    margin-left: 500px;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    border: 1px solid rgba(98, 98, 98, 255);
    font-size: 20px;
    

}
.button a{
    text-decoration: none;
    color: rgba(98, 98, 98, 255);
}