html{
    box-sizing: border-box;  
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


.body {
    font-family: 'Playfair Display', serif;
    width: 1200px;
    height: 2079px;
}

.navigation-menu{
display: inline-block;
vertical-align: middle;
width: 1200px;
margin: 0;
padding: 0;
font-size: 14pt;
list-style: none;
text-align: center;

}
.page-nav{
    padding-top: 77px;
    padding-bottom: 103px;
}
.navigation-menu li{
    display: inline-block;
    vertical-align: middle;
}

.navigation-menu li:not(:last-child){
margin-right: 120px;
}
    
.navigation-menu a{
    color: rgba(98, 98, 98, 255);
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-menu a:hover,
.navigation-menu a:focus{
    color: aquamarine;
}

.content{
    width: 902px;
}

.blocs-list{
    display: inline-block;
    margin: 0;
padding: 0;
    list-style: none;
    
}
.blocs1{
display: inline-block;
width: 320px;
margin-right: 100px;
}