.container {
  min-width: 1202px;
  height: auto;
  background: url(../images/backgr.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 45px;
}

.wrapper {
  width: 1202px;
  margin: auto;
}
