
.general-headline {
    font-size: 72px;
    font-family: $font-cursive;
    font-weight: 400;
    color: $main-color;
    text-align: $txt-center;
}

.page-headline {
    width: 821px;
    margin: auto;
    margin-bottom: 110px;
}

.page-article {
    margin-bottom: 30px;
}

.headline-two {
    font-size: 150px;
    line-height: 1;
    text-align: $txt-center;
}

.page-button {
    padding-bottom: 230px;
}

.button {
    display: block;
    margin: auto;
    width: 154px;
    height: 32px;
    border: 3px solid $main-color;
    background: transparent;
    font-size: $main-fontsize;
}
