.meet-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $fx;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: $s-bet;
}

.page-text {
    width: 980px;
    margin: auto;
    text-align: $txt-center;
    margin-bottom: 80px;
}

.page-image {
    margin-bottom: 28px;
}

.member-team {
    width: $team-width;
    height: auto;
    text-align: $txt-center;
    margin-bottom: 82px;

&:hover .image-1,
&:hover .image-2,
&:hover .image-3 {
    -webkit-transform: $translate-10;
    -ms-transform: $translate-10;
    transform: $translate-10;
    -webkit-box-shadow: 10px 10px 0 0 #95e1d3;
    box-shadow: 10px 10px 0 0 #95e1d3;
    -webkit-transition: $transitionOne;
    -o-transition: $transitionOne;
    transition: $transitionOne;
}
}

.image-1 {
    width: $team-width;
    height: $team-height;
    background: url(/images/Layer16@1X-min.png);
    -webkit-transition: $transitionOne;
    -o-transition: $transitionOne;
    transition: $transitionOne;
}


.image-2 {
    width: $team-width;
    height: $team-height;
    background: url(/images/Layer19@1X-min.png);
    -webkit-transition: $transitionOne;
    -o-transition: $transitionOne;
    transition: $transitionOne;
}

.image-3 {
    width: $team-width;
    height: $team-height;
    background: url(/images/Layer18@1X-min.png);
    -webkit-transition: $transitionOne;
    -o-transition: $transitionOne;
    transition: $transitionOne;
}

.box-gradient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $fx;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: $team-height;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 137, 138, 0.8)), to(rgba(240, 217, 137, 0.8)));
    background: -webkit-linear-gradient(top, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    background: -o-linear-gradient(top, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    background: linear-gradient(to bottom, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8));
    opacity: 0;
}

.member-team:hover .box-gradient {
    opacity: 1;
}