$main-font: 'Montserrat', sans-serif;
$main-font-two: 'Roboto', sans-serif;
$font-cursive: 'Kaushan Script', cursive;
$main-fontsize: 14px;
$main-fontweight: 400;
$main-color: #ffffff;
$hover-color: #fce38a;
$social-color: #F38181;
$s-bet: space-between;
$fx: flex;
$txt-center: center;
$translate-10: translate(-10px, -10px);
$transitionOne: 150ms all linear; 
$team-width: 380px;
$team-height: 470px;