$main-font: 'Montserrat', sans-serif;
$main-font-two: 'Roboto', sans-serif;
$font-cursive: 'Kaushan Script', cursive;
$main-fontsize: 14px;
$main-fontweight: 400;
$main-color: #ffffff;
$hover-color: #fce38a;
$s-bet: space-between;
$fx: flex;
$txt-center: center;