.container {
    width: 100%;
    height: auto;
    background: url(/src/images/backgr.pngm) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 45px;
}

.wrapper {
    width: 1202px;
    margin: auto;
}